term = "alacritty -e"

width = 512
height = 600

font = "/usr/share/fonts/TTF/JetBrainsMonoNerdFontMono-Regular.ttf"
font_size = 32
bg_color = 0x1e1e2eff
bg_border_color = 0x74c7ecff
font_color = 0xcdd6f4ff

[list_items]
selected_font_color = 0xcba6f7ff
match_color = 0xf5c2e7ff

[icon]
theme = "Adwaita"
size = 32
