[user]
	name = Josh Megnauth
	email = josh@fake.com
	editor = nvim
	signingKey = 1234F00D
[include]
    path = "~/Repos/Others/delta/catppuccin.gitconfig"
[core]
	editor = nvim
	pager = delta
[commit]
	gpgSign = true
    verbose = true
[branch]
    sort = -committerdate
[column]
    ui = auto
[tag]
    sort = version:refname
[interactive]
	diffFilter = delta --color-only
[diff]
    algorithm = histogram
	colorMoved = plain
    mnemonicPrefix = true
    renames = true
    submodule = log
[fetch]
    all = true
    fsckobjects = true
    prune = true
    pruneTags = true
[merge]
	conflictstyle = zdiff3
[delta]
	features = Catppuccin Mocha
	dark = true
	line-numbers = true
	# N and n to move between diff sections
	navigate = true
	side-by-side = true
[init]
	defaultBranch = main
[rebase]
    autosquash = true
    updateRefs = true
[receive]
    fsckObjects = true
[status]
    submoduleSummary = true
[submodule]
    recurse = true
[transfer]
    fsckobjects = true
; [url "git@github.com:"]
;     insteadOf = "https://github.com/"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
