[user]
	name = Josh Megnauth
	email = josh@replaceme.com
	editor = nvim
	signingKey = BLORP
[core]
	editor = nvim
	pager = delta
[commit]
	gpgSign = true
    verbose = true
[branch]
    sort = -committerdate
[interactive]
	diffFilter = delta --color-only
[diff]
    algorithm = histogram
	colorMoved = default
    submodule = log
[fetch]
    fsckobjects = true
[merge]
	conflictstyle = zdiff3
[delta]
	syntax-theme = Catppuccin-mocha
	light = false
	line-numbers = true
	# N and n to move between diff sections
	navigate = true
	side-by-side = true
[init]
	defaultBranch = main
[rebase]
    autosquash = true
[receive]
    fsckObjects = true
[status]
    submoduleSummary = true
[submodule]
    recurse = true
[transfer]
    fsckobjects = true
[url "git@github.com:"]
    insteadOf = "https://github.com/"
