[user]
	name = Josh Megnauth
	email = replace@josh.com
	editor = nvim
[core]
	editor = nvim
	pager = delta
[commit]
	gpgSign = true
[interactive]
	diffFilter = delta --color-only
[diff]
	colorMoved = default
[merge]
	conflictstyle = diff3
[delta]
	syntax-theme = Catpuccin-mocha
	light = false
	line-numbers = true
	# N and n to move between diff sections
	navigate = true
	side-by-side = true
[init]
	defaultBranch = main
