cache = {HOME}/.cache/.npm
prefix = {HOME}/.cache/.npm/.npm-packages
init-author-name = Josh Megnauth
init-author-url = https://github.com/joshuamegnauth54
init-license = MIT
sign-git-commit = true
sign-git-tag = true
